.back {
    background-image: url('../public/main_wallpaper.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    background-position: center bottom;
    background-attachment: fixed;
}